.wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    a{
        text-decoration: none;
        color: #000;
    }
    .icon{
        width: 60px;
        height: 30px;
    }
}
.navbar{
    display: flex;
    gap: 12px;
}
