@font-face {
    font-family: "Speeder";
    font-weight: 400;
    src: url(fonts/Trobus-Expanded.ttf);
}
*{
    margin: auto;
}
.body{
    margin: 0;
}

.conteiner{
    width: 100%;
    max-width: 1280px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F3F3F;
    margin-top: 30px;

}
.logo{
    display: flex;
    gap: 14px;
    align-items: center;

}
.logoimg{
    width: 100px;
    height:50px;

}
.logoname{
    font-family: Speeder;
}
.navbar{
    display: flex;
    gap: 30px;
    
}
.navbar a{
    font-family: Speeder;
    color: rgb(255, 179, 0);
    text-decoration: none;
}