.wrapper{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.videoMSI{
    margin-top: 2%;
    border: solid 3px red;
    border-right: none;
    border-left: none;
    width: 1280px;
    height: 500px;
    border-radius: 20px;
}
.gap{
    margin-top: 5%;
}